/* .clearFilterContainer {
    border: none;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 0 0 4px;
    cursor: pointer;
}

.clearFilterContainer:hover {
    color: red;
} */